/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/app.scss */
body {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: gray;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #808080), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top left, #808080, #000000);
  background-image: -moz-linear-gradient(top left, #808080, #000000);
  background-image: -o-linear-gradient(top left, #808080, #000000);
  background-image: -ms-linear-gradient(top left, #808080, #000000);
  background-image: linear-gradient(top left, #808080, #000000);
}

/* line 13, ../sass/app.scss */
#content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* line 19, ../sass/app.scss */
#container {
  position: relative;
  left: 50%;
  padding: 0px;
  height: 400px;
  width: 500px;
  margin: 20px -250px;
}

/* line 35, ../sass/app.scss */
#game {
  height: 100%;
  width: 200px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 2px 2px 10px inset;
  -moz-box-shadow: black 2px 2px 10px inset;
  box-shadow: black 2px 2px 10px inset;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #808080));
  background-image: -webkit-linear-gradient(left top, #ffffff, #808080);
  background-image: -moz-linear-gradient(left top, #ffffff, #808080);
  background-image: -o-linear-gradient(left top, #ffffff, #808080);
  background-image: -ms-linear-gradient(left top, #ffffff, #808080);
  background-image: linear-gradient(left top, #ffffff, #808080);
}

/* line 40, ../sass/app.scss */
#nextBlock {
  position: absolute;
  top: 140px;
  left: 220px;
  height: 100px;
  width: 100px;
  padding: 5px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 2px 2px 10px inset;
  -moz-box-shadow: black 2px 2px 10px inset;
  box-shadow: black 2px 2px 10px inset;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #808080));
  background-image: -webkit-linear-gradient(left top, #ffffff, #808080);
  background-image: -moz-linear-gradient(left top, #ffffff, #808080);
  background-image: -o-linear-gradient(left top, #ffffff, #808080);
  background-image: -ms-linear-gradient(left top, #ffffff, #808080);
  background-image: linear-gradient(left top, #ffffff, #808080);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
/* line 49, ../sass/app.scss */
#nextBlock svg {
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

/* line 54, ../sass/app.scss */
#title {
  position: absolute;
  top: 0px;
  left: 220px;
}

/* line 59, ../sass/app.scss */
#over {
  position: absolute;
  top: 100px;
  left: 0px;
  display: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 66, ../sass/app.scss */
.fancy {
  font: 40px/48px "MinstrelPosterWHGRegular", Arial, sans-serif;
  letter-spacing: 0;
  text-shadow: #00cc00 -5px 1px 5px, #d9007e 5px 5px 5px, #ffcc00 3px -3px 5px;
  -webkit-animation-name: shadow;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
}

/* line 75, ../sass/app.scss */
#score {
  text-shadow: #00cc00 -2px 2px 5px, #d9007e 2px 2px 5px, #ffcc00 2px -2px 5px;
  position: absolute;
  top: 90px;
  left: 220px;
  font: 18px/27px "DigitaldreamFatNarrowRegular", Arial, sans-serif;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: black 2px 2px 10px inset;
  -moz-box-shadow: black 2px 2px 10px inset;
  box-shadow: black 2px 2px 10px inset;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #808080));
  background-image: -webkit-linear-gradient(left top, #ffffff, #808080);
  background-image: -moz-linear-gradient(left top, #ffffff, #808080);
  background-image: -o-linear-gradient(left top, #ffffff, #808080);
  background-image: -ms-linear-gradient(left top, #ffffff, #808080);
  background-image: linear-gradient(left top, #ffffff, #808080);
  height: 20px;
  width: 100px;
  text-align: right;
  padding: 7px;
}

/* line 87, ../sass/app.scss */
#git {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

@-webkit-keyframes shadow {
  /* line 94, ../sass/app.scss */
  0% {
    text-shadow: #00cc00 -5px 1px 5px, #d9007e 5px 5px 5px, #ffcc00 3px -3px 5px;
  }

  /* line 98, ../sass/app.scss */
  50% {
    text-shadow: #ffcc00 -5px 1px 5px, #00cc00 5px 5px 5px, #d9007e 3px -3px 5px;
  }

  /* line 102, ../sass/app.scss */
  80% {
    text-shadow: #d9007e -5px 1px 5px, #ffcc00 5px 5px 5px, #00cc00 3px -3px 5px;
  }

  /* line 105, ../sass/app.scss */
  100% {
    text-shadow: #00cc00 -5px 1px 5px, #d9007e 5px 5px 5px, #ffcc00 3px -3px 5px;
  }
}
